#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS += hardening=+all
BUILT_USING := $(shell dpkg-query -f'$${source:Package} (= $${source:Version})' -W dietlibc-dev)

%:
	dh $@

override_dh_auto_build:
	$(MAKE) -e \
		STRIP=: STRIPx=:

override_dh_auto_install:
	$(MAKE) -e \
		DESTDIR=$(CURDIR)/debian/qpasswd \
		MANDIR='$$(DESTDIR)/usr/share/man' \
		DEST='$$(DESTDIR)/bin' \
		STRIP=: STRIPx=: \
		GROUP=nogroup \
			install

override_dh_fixperms:
	dh_fixperms -X bin/multicheckpw

override_dh_gencontrol:
	dh_gencontrol -- -VBuilt-Using="$(BUILT_USING)"
